<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.driverPlus.dao.mapper.front.StudentMapper" >
  <resultMap id="BaseResultMap" type="com.driverPlus.dao.po.front.Student" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="idcard" property="idcard" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="test_status" property="testStatus" jdbcType="INTEGER" />
    <result column="process" property="process" jdbcType="INTEGER" />
    <result column="accuracy" property="accuracy" jdbcType="INTEGER" />
    <result column="test_count" property="testCount" jdbcType="INTEGER" />
    <result column="school_id" property="schoolId" jdbcType="INTEGER" />
    <result column="contest_count" property="contestCount" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, idcard, telephone, status, test_status, process, accuracy, test_count, 
    school_id, contest_count, user_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.driverPlus.dao.po.front.StudentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.driverPlus.dao.po.front.StudentExample" >
    delete from t_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.driverPlus.dao.po.front.Student" >
    insert into t_student (id, name, idcard, 
      telephone, status, test_status, 
      process, accuracy, test_count, 
      school_id, contest_count, user_id
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{testStatus,jdbcType=INTEGER}, 
      #{process,jdbcType=INTEGER}, #{accuracy,jdbcType=INTEGER}, #{testCount,jdbcType=INTEGER}, 
      #{schoolId,jdbcType=INTEGER}, #{contestCount,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.driverPlus.dao.po.front.Student" >
    insert into t_student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="idcard != null" >
        idcard,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="testStatus != null" >
        test_status,
      </if>
      <if test="process != null" >
        process,
      </if>
      <if test="accuracy != null" >
        accuracy,
      </if>
      <if test="testCount != null" >
        test_count,
      </if>
      <if test="schoolId != null" >
        school_id,
      </if>
      <if test="contestCount != null" >
        contest_count,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="testStatus != null" >
        #{testStatus,jdbcType=INTEGER},
      </if>
      <if test="process != null" >
        #{process,jdbcType=INTEGER},
      </if>
      <if test="accuracy != null" >
        #{accuracy,jdbcType=INTEGER},
      </if>
      <if test="testCount != null" >
        #{testCount,jdbcType=INTEGER},
      </if>
      <if test="schoolId != null" >
        #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="contestCount != null" >
        #{contestCount,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.driverPlus.dao.po.front.StudentExample" resultType="java.lang.Integer" >
    select count(*) from t_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_student
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.idcard != null" >
        idcard = #{record.idcard,jdbcType=VARCHAR},
      </if>
      <if test="record.telephone != null" >
        telephone = #{record.telephone,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.testStatus != null" >
        test_status = #{record.testStatus,jdbcType=INTEGER},
      </if>
      <if test="record.process != null" >
        process = #{record.process,jdbcType=INTEGER},
      </if>
      <if test="record.accuracy != null" >
        accuracy = #{record.accuracy,jdbcType=INTEGER},
      </if>
      <if test="record.testCount != null" >
        test_count = #{record.testCount,jdbcType=INTEGER},
      </if>
      <if test="record.schoolId != null" >
        school_id = #{record.schoolId,jdbcType=INTEGER},
      </if>
      <if test="record.contestCount != null" >
        contest_count = #{record.contestCount,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_student
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      idcard = #{record.idcard,jdbcType=VARCHAR},
      telephone = #{record.telephone,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      test_status = #{record.testStatus,jdbcType=INTEGER},
      process = #{record.process,jdbcType=INTEGER},
      accuracy = #{record.accuracy,jdbcType=INTEGER},
      test_count = #{record.testCount,jdbcType=INTEGER},
      school_id = #{record.schoolId,jdbcType=INTEGER},
      contest_count = #{record.contestCount,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.driverPlus.dao.po.front.Student" >
    update t_student
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="testStatus != null" >
        test_status = #{testStatus,jdbcType=INTEGER},
      </if>
      <if test="process != null" >
        process = #{process,jdbcType=INTEGER},
      </if>
      <if test="accuracy != null" >
        accuracy = #{accuracy,jdbcType=INTEGER},
      </if>
      <if test="testCount != null" >
        test_count = #{testCount,jdbcType=INTEGER},
      </if>
      <if test="schoolId != null" >
        school_id = #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="contestCount != null" >
        contest_count = #{contestCount,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.driverPlus.dao.po.front.Student" >
    update t_student
    set name = #{name,jdbcType=VARCHAR},
      idcard = #{idcard,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      test_status = #{testStatus,jdbcType=INTEGER},
      process = #{process,jdbcType=INTEGER},
      accuracy = #{accuracy,jdbcType=INTEGER},
      test_count = #{testCount,jdbcType=INTEGER},
      school_id = #{schoolId,jdbcType=INTEGER},
      contest_count = #{contestCount,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>